<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="ExportRatingDataDV">
    <Require
      name="ExportDataInfo"
      type="gw.api.admin.ExportDataInfo"/>
    <Variable
      initialValue="gw.api.database.Query.make(RateBook).select()"
      name="rateBooks"
      type="gw.api.database.IQueryBeanResult&lt;RateBook&gt;"/>
    <Variable
      initialValue="rateBooks.first()"
      name="rateBook"
      type="RateBook"/>
    <InputColumn>
      <InputSet>
        <RangeInput
          editable="true"
          id="rateBook"
          label="DisplayKey.get(&quot;Web.Rating.RateBooks.Ratebook&quot;)"
          optionLabel="VALUE.BookName"
          value="rateBook"
          valueRange="rateBooks"
          valueType="entity.RateBook">
          <PostOnChange/>
        </RangeInput>
      </InputSet>
      <ListViewInput
        labelAbove="true">
        <Toolbar>
          <CheckedValuesToolbarButton
            allCheckedRowsAction="gw.api.admin.BaseAdminUtil.exportData(ExportDataInfo, {new ratingtool.RateBookEntitiesDataSet(CheckedValues.whereTypeIs(KeyableBean).toList())})"
            download="true"
            id="ExportButton"
            iterator="ExportDataSetLV"
            label="DisplayKey.get(&quot;Web.Admin.ExportDataDV.ExportButton&quot;)"/>
        </Toolbar>
        <ListViewPanel
          id="ExportDataSetLV">
          <RowIterator
            editable="false"
            elementName="exportableElement"
            hasCheckBoxes="true"
            id="RateBookIterator"
            pageSize="30"
            pickWidth="0"
            type="entity.KeyableBean"
            value="new ratingtool.RateBookEntitiesExportHelper().getExportableRateBookElements(rateBook)"
            valueType="java.util.List&lt;entity.KeyableBean&gt;">
            <Row>
              <TextCell
                id="DataSet"
                label="DisplayKey.get(&quot;Web.Admin.ExportDataDV.DataSet&quot;)"
                value="exportableElement.getDisplayName(&quot;RateBookExport&quot;)"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
    </InputColumn>
  </DetailViewPanel>
</PCF>